{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base que contiene la estructura general, estilos y scripts comunes -->

{% block title %}Confirmar Eliminación de Producto{% endblock %}
<!-- Define el título de la pestaña del navegador -->


{% block header_title %}
<h1 class="header-title">CONFIRMACIÓN DE ELIMINACIÓN</h1>
{% endblock %}

{% block content %}
<section>
    <h1>¿Seguro que deseas eliminar el producto: {{ pro.NombreProducto }}?</h1>

    {% if request.COOKIES.username|default:"" == "Admin" %}
        <a href="{% url 'admin-crud-producto' %}">
            <button class="button-header" type="button">Volver al Panel Admin</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-producto' pro.IdProducto %}">
    {% else %}
        <a href="{% url 'crud-producto' %}">
            <button class="button-header" type="button">Volver al Inicio</button>
        </a>
        <form method="POST" action="{% url 'eliminar-producto' pro.IdProducto %}">
    {% endif %}

        {% csrf_token %}
        <button type="submit" class="button-header">ELIMINAR</button>
    </form>
</section>
{% endblock %}
