{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base que contiene la estructura general, estilos y scripts comunes -->

{% block title %}Detalle de Producto{% endblock %}
<!-- Define el título de la pestaña del navegador -->



{% block header_title %}
<h1 class="header-title">DETALLES DEL PRODUCTO</h1>
{% if request.COOKIES.username|default:"" == "admin" %}
    <a href="{% url 'admin-crud-producto' %}">
        <button class="button-header" type="button">Volver al Panel Admin</button>
    </a>
{% else %}
    <a href="{% url 'crud-producto' %}">
        <button class="button-header" type="button">Volver al Inicio</button>
    </a>
{% endif %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Código de barras</th>
            <th>Valor</th>
            <th>Stock</th>
            <th>Nombre</th>
            <th>Fecha de registro</th>
            <th>Marca</th>
            <th>Fecha de vencimiento</th>
            <th>Categoría</th>
            <th>Bodega asociada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ pro.IdProducto }}</td>
            <td>{{ pro.CodigoDeBarras }}</td>
            <td>{{ pro.ValorProducto }}</td>
            <td>{{ pro.StockProducto }}</td>
            <td>{{ pro.NombreProducto }}</td>
            <td>{{ pro.FechaDeRegistroProducto }}</td>
            <td>{{ pro.MarcaProducto }}</td>
            <td>{{ pro.FechaDeVencimiento }}</td>
            
            <td>
               {% if pro.CategoriaProducto %}
                   {% for cat in Categorias %}
                       {% if cat.IdCategoriaProducto == pro.CategoriaProducto %}
                            {{ cat.NombreCategoria }}
                      {% endif %}
                   {% endfor %}
               {% else %}
                   NO ASOCIADO
               {% endif %}
            </td>

            <td>
                {% if pro.Bodegas %}
                    {% for bod in Bodegas %}
                        {% if bod.IdBodega == pro.Bodegas %}
                            {{ bod.NombreBodega }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    NO ASOCIADO
                {% endif %}
            </td>
            
            <td>
                {% if request.COOKIES.username|default:"" == "admin" %}
                    <a href="{% url 'admin-actualizar-producto' pro.IdProducto %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'admin-confirmar-eliminar-producto' pro.IdProducto %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% else %}
                    <a href="{% url 'actualizar-producto' pro.IdProducto %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'confirmar-eliminar-producto' pro.IdProducto %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
