{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base que contiene la estructura general, estilos y scripts comunes -->

{% block title %}Lista de Productos{% endblock %}
<!-- Define el título de la pestaña del navegador -->



{% if messages %}
<section class="messages">
    {% for message in messages %}
        <div class="message">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
</section>
{% endif %}

{% block header_title %}
<h1 class="header-title">LISTA DE PRODUCTOS</h1>

{% if request.COOKIES.username|default:"" == "Admin" %}
    <a href="{% url 'adminhome' %}">
        <button class="button-header" type="button">Volver al Panel Admin</button>
    </a>
    <a href="{% url 'admin-registrar-producto' %}">
        <button class="button-header" type="button">REGISTRAR</button>
    </a>
{% else %}
    <a href="{% url 'home' %}">
        <button class="button-header" type="button">Volver al Inicio</button>
    </a>
    <a href="{% url 'registrar-producto' %}">
        <button class="button-header" type="button">REGISTRAR</button>
    </a>
{% endif %}
{% endblock %}

{% block content %}
{% if Productos %}
    <table>
        <thead>
            <tr>
                <th>ID PRODUCTO</th>
                <th>Código de barras</th>
                <th>Valor</th>
                <th>Stock</th>
                <th>Nombre</th>
                <th>Fecha de registro</th>
                <th>Marca</th>
                <th>Fecha de vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pro in Productos %}
            <tr>
                <td>{{ pro.IdProducto }}</td>
                <td>{{ pro.CodigoDeBarras }}</td>
                <td>{{ pro.ValorProducto }}</td>
                <td>{{ pro.StockProducto }}</td>
                <td>{{ pro.NombreProducto }}</td>
                <td>{{ pro.FechaDeRegistroProducto|slice:":10" }}</td>
                <td>{{ pro.MarcaProducto }}</td>
                <td>{{ pro.FechaDeVencimiento }}</td>
                <td>
                    {% if request.COOKIES.username|default:"" == "Admin" %}
                        <a href="{% url 'admin-detalle-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">DETALLE</button>
                        </a>
                        <a href="{% url 'admin-actualizar-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">ACTUALIZAR</button>
                        </a>
                        <a href="{% url 'admin-confirmar-eliminar-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">ELIMINAR</button>
                        </a>
                    {% else %}
                        <a href="{% url 'detalle-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">DETALLE</button>
                        </a>
                        <a href="{% url 'actualizar-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">ACTUALIZAR</button>
                        </a>
                        <a href="{% url 'confirmar-eliminar-producto' pro.IdProducto %}">
                            <button class="button-header" type="button">ELIMINAR</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-registros">
        <h1>NO HAY PRODUCTOS REGISTRADOS</h1>
    </div>
{% endif %}
{% endblock %}
