<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">

    <title>Iniciar Sesion</title>
</head>

<body class="{% if messages %}has-messages{% endif %}">

    {% if messages %}
        <section class="messages">
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        </section>
    {% endif %}

    <div class="login-container">

        <header>
            <h1>LOGIN</h1>
        </header>

        <form method="POST" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <label for="UsernameField">Usuario</label>
                <input type="text" id="UsernameField" name="UsernameField" required placeholder="Ingrese su usuario">
            </div>

            <div class="form-group">
                <label for="PasswordField">Contraseña</label>
                <input type="password" id="PasswordField" name="PasswordField" required placeholder="Ingrese su contraseña">
            </div>

            <input class="form-enviar" type="submit" value="INGRESAR">
        </form>

    </div>

</body>
</html>