{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base de CRUD, que incluye estilos, scripts y estructura general -->

{% block title %}Confirmar Eliminación de Categoría{% endblock %}
<!-- Título de la página que se mostrará en la pestaña del navegador -->


{% block header_title %}
<h1 class="header-title">CONFIRMACIÓN DE ELIMINACIÓN</h1>
{% endblock %}

{% block content %}
<section>
    <h1>¿Seguro que deseas eliminar la categoría: {{ bod.NombreCategoria }}?</h1>

    {% if request.COOKIES.username|default:"" == "Admin" %}
        <a href="{% url 'admin-crud-categoria' %}">
            <button class="button-header" type="button">Volver al Panel Admin</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-categoria' bod.IdCategoriaProducto %}">
    {% else %}
        <a href="{% url 'crud-categoria' %}">
            <button class="button-header" type="button">Volver al Inicio</button>
        </a>
        <form method="POST" action="{% url 'eliminar-categoria' bod.IdCategoriaProducto %}">
    {% endif %}

        {% csrf_token %}
        <button type="submit" class="button-header">ELIMINAR</button>
    </form>
</section>
{% endblock %}
