{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base de CRUD, que incluye estilos, scripts y la estructura general -->

{% block title %}Detalle de Categoría{% endblock %}
<!-- Título de la página que se muestra en la pestaña del navegador -->


{% block header_title %}
<h1 class="header-title">DETALLE DE CATEGORÍA</h1>
{% if request.session.Usuario_Username == "admin" %}
    <a href="{% url 'admin-crud-categoria' %}">
        <button class="button-header" type="button">Volver al Panel Admin</button>
    </a>
{% else %}
    <a href="{% url 'crud-categoria' %}">
        <button class="button-header" type="button">Volver al Inicio</button>
    </a>
{% endif %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID CATEGORÍA PRODUCTO</th>
            <th>Nombre Categoría</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ bod.IdCategoriaProducto }}</td>
            <td>{{ bod.NombreCategoria }}</td>
            <td>{{ bod.Descripcion }}</td>
            <td>{{ bod.Estado }}</td>
            <td>{{ bod.Observaciones }}</td>
            <td>
                {% if request.session.Usuario_Username == "admin" %}
                    <a href="{% url 'admin-actualizar-categoria' bod.IdCategoriaProducto %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'admin-confirmar-eliminar-categoria' bod.IdCategoriaProducto %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% else %}
                    <a href="{% url 'actualizar-categoria' bod.IdCategoriaProducto %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'confirmar-eliminar-categoria' bod.IdCategoriaProducto %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
