{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base que contiene la estructura general, estilos y scripts comunes -->

{% block title %}Lista de Usuarios{% endblock %}
<!-- Define el título de la pestaña del navegador -->


{% if messages %}
<section class="messages">
    {% for message in messages %}
        <div class="message">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
</section>
{% endif %}

{% block header_title %}
<h1 class="header-title">LISTA DE USUARIOS</h1>

<a href="{% url 'adminhome' %}">
    <button class="button-header" type="button">Volver al Inicio</button>
</a>
<a href="{% url 'admin-registrar-usuario' %}">
    <button class="button-header" type="button">REGISTRAR</button>
</a>
{% endblock %}

{% block content %}
{% if Usuarios %}
<table>
    <thead>
        <tr>
            <th>ID USUARIO</th>
            <th>Username</th>
            <th>Correo Electrónico</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usu in Usuarios %}
        <tr>
            <td>{{ usu.IdUsuarios }}</td>
            <td>{{ usu.Username }}</td>
            <td>{{ usu.CorreoElectronico }}</td>
            <td>
                <a href="{% url 'admin-detalle-usuario' usu.IdUsuarios %}">
                    <button class="button-header" type="button">DETALLE</button>
                </a>
                <a href="{% url 'admin-actualizar-usuario' usu.IdUsuarios %}">
                    <button class="button-header" type="button">ACTUALIZAR</button>
                </a>
                {% if usu.Username == "Admin" %}
                    <button class="button-header" type="button" disabled>ELIMINAR</button>
                {% else %}
                    <a href="{% url 'admin-confirmar-eliminar-usuario' usu.IdUsuarios %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="no-registros">
    <h1>NO HAY USUARIOS REGISTRADOS</h1>
</div>
{% endif %}
{% endblock %}