{% extends 'base-crud.html' %}

{% block title %}Lista de Bodegas{% endblock %}


{% if messages %}
<section class="messages">
    {% for message in messages %}
        <div class="message">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
</section>
{% endif %}

{% block header_title %}
    <h1 class="header-title">LISTA DE BODEGAS</h1>

    {% if request.session.Usuario_Username == "admin" %}
        <a href="{% url 'adminhome' %}">
            <button class="button-header" type="button">Volver al Panel Admin</button>
        </a>
        <a href="{% url 'admin-registrar-bodega' %}">
            <button class="button-header" type="button">REGISTRAR</button>
        </a>
    {% else %}
        <a href="{% url 'home' %}">
            <button class="button-header" type="button">Volver al Inicio</button>
        </a>
        <a href="{% url 'registrar-bodega' %}">
            <button class="button-header" type="button">REGISTRAR</button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if Bodegas %}
        <table>
            <thead>
                <tr>
                    <th>ID BODEGA</th>
                    <th>Nombre bodega</th>
                    <th>Ubicacion bodega</th>
                    <th>Estado de la bodega</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for bod in Bodegas %}
                <tr>
                    <td>{{ bod.IdBodega }}</td>
                    <td>{{ bod.NombreBodega }}</td>
                    <td>{{ bod.UbicacionBodega }}</td>
                    <td>{{ bod.EstadoBodega }}</td>

                    <td>
                        {% if request.session.Usuario_Username == "Admin" %}
                            <a href="{% url 'admin-detalle-bodega' bod.IdBodega %}"><button class="button-header">DETALLE</button></a>
                            <a href="{% url 'admin-actualizar-bodega' bod.IdBodega %}"><button class="button-header">ACTUALIZAR</button></a>
                            <a href="{% url 'admin-confirmar-eliminar-bodega' bod.IdBodega %}"><button class="button-header">ELIMINAR</button></a>
                        {% else %}
                            <a href="{% url 'detalle-bodega' bod.IdBodega %}"><button class="button-header">DETALLE</button></a>
                            <a href="{% url 'actualizar-bodega' bod.IdBodega %}"><button class="button-header">ACTUALIZAR</button></a>
                            <a href="{% url 'confirmar-eliminar-bodega' bod.IdBodega %}"><button class="button-header">ELIMINAR</button></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="no-registros">
            <h1>NO HAY BODEGAS REGISTRADAS</h1>
        </div>
    {% endif %}
{% endblock %}
