{% extends 'base-crud.html' %}

{% block title %}Detalle de Bodega{% endblock %}


{% block header_title %}
    <h1 class="header-title">DETALLE DE BODEGA</h1>

    {% if request.COOKIES.username|default:"" == "Admin" %}
        <a href="{% url 'admin-crud-bodega' %}"><button class="button-header">Volver</button></a>
    {% else %}
        <a href="{% url 'crud-bodega' %}"><button class="button-header">Volver</button></a>
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID BODEGA</th>
                <th>Nombre bodega</th>
                <th>Ubicacion bodega</th>
                <th>Estado de la bodega</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ bod.IdBodega }}</td>
                <td>{{ bod.NombreBodega }}</td>
                <td>{{ bod.UbicacionBodega }}</td>
                <td>{{ bod.EstadoBodega }}</td>
                <td>{{ bod.ObservacionesBodega }}</td>

                <td>
                    {% if request.COOKIES.username|default:"" == "Admin" %}
                        <a href="{% url 'admin-actualizar-bodega' bod.IdBodega %}"><button class="button-header">ACTUALIZAR</button></a>
                        <a href="{% url 'admin-confirmar-eliminar-bodega' bod.IdBodega %}"><button class="button-header">ELIMINAR</button></a>
                    {% else %}
                        <a href="{% url 'actualizar-bodega' bod.IdBodega %}"><button class="button-header">ACTUALIZAR</button></a>
                        <a href="{% url 'confirmar-eliminar-bodega' bod.IdBodega %}"><button class="button-header">ELIMINAR</button></a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
