<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/forms-style.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    
    <!-- Breadcrumb -->
    <nav>
        <ol>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </nav>

    <!-- MENSAJES DE DJANGO (éxito / error / info) -->
    {% block extra_messages %}{% endblock %}

    
    
    {% if messages %}
        <section class="messages">
            {% for message in messages %}
                <div class="message">
                    <h1>{{ message }}</h1>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <!-- Encabezado principal donde va el TÍTULO y el BOTÓN VOLVER -->
    <header>
        {% block header_title %}{% endblock %}
    </header>

    <!-- Contenido: aquí va el FORMULARIO -->
    {% block content %}{% endblock %}
    
</body>
</html>
