{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base de CRUD, que incluye estilos, scripts y estructura general -->

{% block title %}Confirmar Eliminación de Empleado{% endblock %}



{% block header_title %}
<h1 class="header-title">CONFIRMACIÓN DE ELIMINACIÓN</h1>
{% endblock %}

{% block content %}
<section>
    <h1>¿Seguro que deseas eliminar el empleado: {{ emp.NombreEmpleado }}?</h1>

    {% if request.COOKIES.username|default:"" == "Admin" %}
        <a href="{% url 'admin-crud-empleado' %}">
            <button class="button-header" type="button">Volver al Panel Admin</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-empleado' emp.IdEmpleado %}">
    {% else %}
        <a href="{% url 'admin-crud-empleado' %}">
            <button class="button-header" type="button">Volver al Inicio</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-empleado' emp.IdEmpleado %}">
    {% endif %}

        {% csrf_token %}
        <button type="submit" class="button-header">ELIMINAR</button>
    </form>
</section>
{% endblock %}
