{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base de CRUD que incluye estilos, scripts y estructura general -->

{% block title %}Detalle de Empleado{% endblock %}


{% block header_title %}
<h1 class="header-title">DETALLE DE EMPLEADO</h1>
{% if request.session.Usuario_Username == "Admin" %}
    <a href="{% url 'admin-crud-empleado' %}">
        <button class="button-header" type="button">Volver al Panel Admin</button>
    </a>
{% else %}
    <a href="{% url 'admin-crud-empleado' %}">
        <button class="button-header" type="button">Volver al Inicio</button>
    </a>
{% endif %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ emp.IdEmpleado }}</td>
            <td>{{ emp.RutEmpleado }}</td>
            <td>{{ emp.NombreEmpleado }}</td>
            <td>{{ emp.ApellidoEmpleado }}</td>
            <td>{{ emp.EdadEmpleado }}</td>
            <td>{{ emp.NumeroTelefonoEmpleado }}</td>
            <td>
                {% if request.session.Usuario_Username == "Admin" %}
                    <a href="{% url 'admin-actualizar-empleado' emp.IdEmpleado %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'admin-confirmar-eliminar-empleado' emp.IdEmpleado %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% else %}
                    <a href="{% url 'admin-actualizar-empleado' emp.IdEmpleado %}">
                        <button class="button-header" type="button">ACTUALIZAR</button>
                    </a>
                    <a href="{% url 'admin-confirmar-eliminar-empleado' emp.IdEmpleado %}">
                        <button class="button-header" type="button">ELIMINAR</button>
                    </a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
