{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base para CRUD que incluye estilos, scripts y estructura general -->

{% block title %}Lista de Empleados{% endblock %}



{% if messages %}
<section class="messages">
    {% for message in messages %}
        <div class="message">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
</section>
{% endif %}

{% block header_title %}
<h1 class="header-title">LISTA DE EMPLEADOS</h1>

{% if request.COOKIES.username|default:"" == "admin" %}
    <a href="{% url 'adminhome' %}">
        <button class="button-header" type="button">Volver al Panel Admin</button>
    </a>
    <a href="{% url 'admin-registrar-empleado' %}">
        <button class="button-header" type="button">REGISTRAR</button>
    </a>
{% else %}
    <a href="{% url 'adminhome' %}">
        <button class="button-header" type="button">Volver al Inicio</button>
    </a>
    <a href="{% url 'admin-registrar-empleado' %}">
        <button class="button-header" type="button">REGISTRAR</button>
    </a>
{% endif %}
{% endblock %}

{% block content %}
{% if Empleados %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in Empleados %}
                {% if emp.IdEmpleado %}
                <tr>
                    <td>{{ emp.IdEmpleado }}</td>
                    <td>{{ emp.RutEmpleado }}</td>
                    <td>{{ emp.NombreEmpleado }}</td>
                    <td>{{ emp.ApellidoEmpleado }}</td>
                    <td>
                        {% if request.COOKIES.username|default:"" == "admin" %}
                            <a href="{% url 'admin-detalle-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">DETALLE</button>
                            </a>
                            <a href="{% url 'admin-actualizar-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">ACTUALIZAR</button>
                            </a>
                            <a href="{% url 'admin-confirmar-eliminar-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">ELIMINAR</button>
                            </a>
                        {% else %}
                            <a href="{% url 'admin-detalle-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">DETALLE</button>
                            </a>
                            <a href="{% url 'admin-actualizar-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">ACTUALIZAR</button>
                            </a>
                            <a href="{% url 'admin-confirmar-eliminar-empleado' emp.IdEmpleado %}">
                                <button class="button-header" type="button">ELIMINAR</button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="no-registros">
        <h1>NO HAY EMPLEADOS REGISTRADOS</h1>
    </div>
{% endif %}
{% endblock %}
