{% extends 'base-crud.html' %}

{% block title %}Confirmar Eliminación de Cargo{% endblock %}

{% block breadcrumb %}
    <li>
        {% if request.session.Usuario_Username == "Admin" %}
            <a href="{% url 'adminhome' %}">Panel Admin ></a>
            <a href="{% url 'admin-crud-cargo' %}">Crud Cargos ></a>
            <a>Confirmar Eliminación</a>
        {% else %}
            <a href="{% url 'adminhome' %}">Home ></a>
            <a href="{% url 'admin-crud-cargo' %}">Crud Cargos ></a>
            <a>Confirmar Eliminación</a>
        {% endif %}
    </li>
{% endblock %}

{% block header_title %}
    <h1 class="header-title">CONFIRMACIÓN DE ELIMINACIÓN</h1>
{% endblock %}

{% block content %}
<section>
    <h1>¿Seguro que deseas eliminar el cargo: {{ cag.TipoDeCargo }}?</h1>

    {% if request.session.Usuario_Username == "Admin" %}
        <a href="{% url 'admin-crud-cargo' %}">
            <button class="button-header" type="button">Volver</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-cargo' cag.IdCargos %}">
    {% else %}
        <a href="{% url 'admin-crud-cargo' %}">
            <button class="button-header" type="button">Volver</button>
        </a>
        <form method="POST" action="{% url 'admin-eliminar-cargo' cag.IdCargos %}">
    {% endif %}

        {% csrf_token %}
        <button type="submit">ELIMINAR</button>
    </form>
</section>
{% endblock %}
